{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Musique</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idmusique</th>
                <td>{{ entity.idmusique }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ entity.auteur }}</td>
            </tr>
            <tr>
                <th>Album</th>
                <td>{{ entity.album }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ entity.photo }}</td>
            </tr>
            <tr>
                <th>Sortie</th>
                <td>{{ entity.sortie|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('musique') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('musique_edit', { 'id': entity.idmusique }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
